@import url('https://fonts.googleapis.com/css2?family=Anton&family=Josefin+Sans:wght@700&display=swap');

body {
  height: 100vh;
  margin: 0;
  background-color: pink;
}

h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Josefin Sans';
  font-size: 40px;
}

@media (max-width: 900px) and (min-width: 600px) {
  h1 {
    font-size: 32px;
  }

  body {
    background-color: turquoise;
  }
}

@media (max-width: 600px) {
  h1 {
    font-size: 24 px;
  }

  body {
    background-color: yellowgreen;
  }
}
